
<div class="cards">
  <% @ideas.each do |idea| %>
    <div class="card">
    <div class="card-body">
        
        <%= link_to(idea.title, idea_path(idea)) %> <br />
        <small>
            Posted by <%= idea.user.name %> <%= time_ago_in_words(idea.created_at)  %> ago
        </small>
      <div>
  <% if @like.present? %>
  <p><%= idea.likes.count %></p>
    <%=
      link_to(
        "liked",
        idea_likes_path(@idea, @like),
        method: :delete
      )
    %>
  <% else %>
    <%=
      link_to(
        "Like",
        idea_likes_path(idea),
        method: :post
      )
    %>

  <% end %>

  <span><%= pluralize(idea.likes.count, "like") %></span>
</div>
    </div>
    </div>
  <% end %>
</div>
